* {
  font-family: Hero, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 18px;
}

.nav-banner {
  display: flex;
  height: 50px;
  width: auto;
  background-color: #1f2937;
  color: white;

  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-left: 24px;
  font-size: 20px;
}
.header-link-container {
  margin-right: 20px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  background-color: orange;
  color: black; /*Not working?*/
}
a:visited {
  color: white;
}
.greeting {
  display: flex;
  width: auto;
  height: 380px;
  background-color: #1f2937;
  color: white;
  justify-content: center;
  align-items: center;
}
.intro-text {
  width: 450px;
  margin-right: 50px;
}
.header-text {
  font-size: 48px;
  margin: 0;
}
.discription {
  margin: 0;
  font-size: 18px;
}

.card-container {
  display: flex;
}

.quote {
  display: flex;
  background-color: #e5e7eb;
}

.call-to-action {
  display: flex;
  background-color: #3882f6;
}

footer {
  display: flex;
  background-color: #1f2937;
}
button {
  padding: 6px 26px;
  background-color: #3882f6;
  border-radius: 8px;
  border: 1px solid white;
  margin: 5px;
  margin-left: 0;
  color: white;
  transition-duration: 0.4s;
}
button:hover {
  cursor: pointer;
  background-color: #3881f6db;
}
